#headerContainer {
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

#titleContainer {
  display: flex;
  background-color: aqua;
  padding-left: 25px;
  width: 50%;
  padding-top: 25px;
}

#navContainer {
  display: flex;
  background-color: aquamarine;
  width: 50%;
  padding-top: 25px;
}

ul li {
  text-align: center;
  vertical-align: bottom;
  display: inline;
  list-style: none;
  margin: 25px;
}
